<div class="dashboard-container">
  <div class="user-info">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "profile-avatar" %>
    <% else %>
      <%= image_tag "https://i.ya-webdesign.com/images/default-avatar-png-18.png", class: "profile-avatar" %>
    <% end %>
    <h1>Welcome, <%#= current_user.first_name %></h1>
    <div class="bookings-count">
      <%= @user.bookings.count %>
      <p>My Bookings</p>
    </div>
    <div class="items-count">
      <%= @user.items.count %>
      <p>My Items</p>
    </div>
  </div>

  <div class="user-items">
    <h2>My Bookings</h2>
    <ul>
    <% @user.bookings.each do |booking| %>
    <li> <%= link_to booking.item.title, item_path(booking.item) %> </li>
    <% end %>
    </ul>

    <h2>My Items</h2>
    <ul>
    <% @user.items.each do |item| %>
    <li> <%= link_to item.title, item_path(item) %> </li>
    <% end %>
    </ul>
  </div>
</div>
