<div class="form-container">
  <div class="form-flexbox">
  <!-- <h2 class="form font">Adding new <strong> Item</strong></h2> -->
  <div class="img">
  <img src="https://images.unsplash.com/photo-1563804809760-21219f846204?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="" class="img-center">
  </div>
  <div class="simple-form">
    <h2 class="new-form-title">Add New Item</h2>
  <%= simple_form_for [@item] do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.button :submit, class: 'button' %>
  <% end %>
  </div>
 </div>
 </div>

