
<div class="show-container">
  <div class="show-page-card">
    <!-- <div class="carousel-inner"> -->
      <% @item.photos.each do |photo| %>
        <!-- <div class="carousel-item"> -->
          <div class="trash-can">
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: 'show-card-img' %>
          </div>
        <!-- </div> -->
      <% end %>
    <!-- </div> -->
    <div class="show-card-details">
      <div class= "show-card-info">
        <h1 class= "show-card-title"><%= @item.title.capitalize %></h1>
        <p><strong>Price: </strong>$<%= @item.price %></p>
        <p><strong>About this item: </strong><%= @item.description %></p>
      </div>
      <div class="show-card-links">
        <div>
          <% if policy(@item).edit? %>
            <%= link_to edit_item_path(@item) do %>
            <p class='button'>Edit <i class="far fa-edit"></i></p>
            <% end %>
          <% end %>
          <% if policy(@item).destroy? %>
            <%= link_to  item_path(@item), method: :delete, data: { confirm: "Are you sure you want to delete this item?" } do %>
            <p class='button'>Delete <i class="far fa-trash-alt"></i></p>
            <% end %>
          <% end %>
          <% if @item.booking %>
            <%= link_to "Cancel booking", booking_path(@item.booking), method: :delete, data: { confirm: "Are you sure you want to delete this booking?" }, class: 'button' %>
            <p>You have reserved this item.</p>
            <p>Email <strong><%= @item.user.email %></strong> to arrange the transcation.</p>
          <% else %>
            <%= link_to item_bookings_path(@item), method: :post do%>
            <p class='button'>Book <i class="far fa-bookmark"></i></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
    <div class="other-items-by-seller">
      <h2>Other items by this seller</h2>
        <div class="item-seller-cards">
        <% @first_three_items.each do |item| %>
        <div class="item-by-seller-card">
          <% if item.photos.attached? %>
            <%= image_tag cl_image_path item.photos.first.key, height: 300, width: 400, crop: :fill %>
            <% else %>
            <%= image_tag 'https://cdn4.iconfinder.com/data/icons/documents-letters-and-stationery/400/doc-14-512.png' %>
            <% end %>
          <div class="item-seller-card-info">
            <h2><%= link_to "" , item_path(item), class: 'absolute-0-0' %></h2>
            <h2><%= item.title %></h2>
          </div>
        </div>
        <% end %>
        </div>
    </div>
</div>

